!!! 5
%head
  %title Pingsy
  %meta{ charset: 'utf-8' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
  %link{ rel: "stylesheet", href: "/assets/css/screen.css?#{Time.now.to_i}" }
  %link{ rel: "stylesheet", href: "//cloud.typography.com/7361472/695664/css/fonts.css" }
  %script{ src: "/assets/js/modernizr.js?#{Time.now.to_i}" }
  %meta{ name: 'description', content: 'Coming soon to the App Store.' }

  :javascript
    var hash, href, pathname;

    if (Modernizr.history) {
      hash = window.location.hash;
      if (hash.length) {
        href = hash.replace('#', '');
        window.location.href = href;
      }
    } else {
      pathname = window.location.pathname;
      if (pathname.length > 1) {
        window.location.href = '/#' + pathname;
      }
    }
%body
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53851795-3', 'auto');
    ga('send', 'pageview');

  %script{ src: "/assets/js/vendor.js?#{Time.now.to_i}" }
  %script{ src: "/assets/js/templates.js?#{Time.now.to_i}" }
  %script{ src: "/assets/js/app.js?#{Time.now.to_i}" }

  %noscript
    .home-wrapper
      .home.container
        %section.home-top

          %h1.home-header
            %span Pingsy
          %p.home-desc Coming soon to the App Store.

        %section.home-images
          .home-image
            %img{ src: "/assets/media/home-1.png", alt: "Send a Pingsy!" }
          .home-image
            %img{ src: "/assets/media/home-2.png", alt: "Respond to a Pingsy!" }
        .clear

    .footer-wrapper
      %footer.footer
        %a.footer-logo{ href: "/", title: "Home", role: "presentation" }
          %img{ src: "/assets/media/footer-logo.png"}
        %br
        %br
        %ul.footer-menu{ role: "menu" }
          %li.footer-menu
            %a.footer-link{ href: "https://twitter.com/getpingsy", title: "Pingsy on Twitter" }
              %span.icon-twitter
              Pingsy on Twitter


